<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css	">
    <link rel="stylesheet" href="style.css">
    <title>Grocery List</title>
</head>
<body>

    <div class="headLine">
        <h2>organic</h2>
        <img class="wholeFoodsLogo" src="/Whole_Foods_Market_logo.png" alt="logo">
        <h2>healthy</h2>
    </div>
    
    

    <div class="container-fluid">
        <div class="padding row d-flex justify-content-center">
                    <div class="col-md-4">
                        <div class="card px-2">
                            <div class="card-body">
                                <h4 class="card-title">Fruits & Vegetables</h4>
                                <div class="list-wrapper">
        
                                    <form action="/createVeggies" method="POST">
                                        <div class="add-items d-flex">
                                            <input type="text" class="form-control" placeholder="Produce:" name="groceryVeggieList" required>
                                            <input type="number" class="form-control" placeholder="Quantity:" name="quantity" required>
                                            <select class="form-control" aria-label=".form-select-lg example" name="size">
                                                <option selected>Size</option>
                                                <option value="Bag">Bag</option>
                                                <option value="Box">Box</option>
                                                <option value="Can">Can</option>
                                                <option value="Carton">Carton</option>
                                                <option value="Each">Each</option>
                                                <option value="Jar">Jar</option>
                                                <option value="Pack">Pack</option>

                                              </select>
                                            <button class="add btn btn-light font-weight-bold todo-list-add-btn">Add</button>
                                        </div>
                                    </form>

                                 <div class="items container-fluid d-flex justify-content-start">
                                     <div class="items container-fluid d-flex justify-content-start">
                                        <h5>Items:</h5>
                                    </div>
                                    <div class="container-fluid d-flex justify-content-center">
                                        <h5>Quantity:</h5>
                                    </div>
                                 </div>
        
                                    <ul class="d-flex flex-column todo-list">
                                        <% for(let i = 0; i < groceryVeggieItem.length; i++) { %>
                                            <li class='groceryVeggieList'>
                                            <% if (groceryVeggieItem[i].completed === true) {%>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                    <input class="checkbox" type="checkbox" checked>
                                                    <i class="input-helper input-completed" data-id="<%= groceryVeggieItem[i]._id %>"></i></label></div>
                                                <div class="container  d-flex justify-content-start"><span class="completed "><%= groceryVeggieItem[i].list %></span></div>
                                                <div class="container d-flex justify-content-center"><span class="quantityItems"><%= groceryVeggieItem[i].quantity %></span><span class="quantityItems"><%= groceryVeggieItem[i].size %></span></div>
                                                <% }else{ %>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                    <input class="checkbox" type="checkbox">
                                                    <i class="input-helper input-incompleted" data-id="<%= groceryVeggieItem[i]._id %>"></i></label></div>
                                                <div class="container  d-flex justify-content-start"><span><%= groceryVeggieItem[i].list %></span></div>
                                                <div class="container d-flex justify-content-center"><span class="quantityItems"><%= groceryVeggieItem[i].quantity %></span><span class="quantityItems"><%= groceryVeggieItem[i].size %></span></div>
                                                <% } %>
                                            <i class="deleteVeggies remove mdi mdi-close-circle-outline" data-id="<%= groceryVeggieItem[i]._id %>" ></i>
                                            </li>
                                         <% } %>
                                    </ul>
                                    <h6>Remaining Items in this section: <span class="number"><%= veggiesRemain %></span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
           
        



  
    
        <div class="col-md-4">
            <div class="card px-2">
                <div class="card-body">
                    <h4 class="card-title">Beef, Fish & Poultry</h4>
                    <div class="list-wrapper">

                        <form action="/createMeat" method="POST">
                            <div class="add-items d-flex">
                                <input type="text" class="form-control" placeholder="Meat:" name="groceryMeatList" required>
                                <input type="number" class="form-control" placeholder="Weight:" name="quantity" required>
                                <select class="form-control" aria-label=".form-select-lg example" name="size">
                                    <option selected>Size</option>
                                    <option value="lbs">lbs</option>
                                    <option value="oz">oz</option>
                                    <option value="kg">kg</option>
                                    </select>
                                <button class="add btn btn-light font-weight-bold todo-list-add-btn">Add</button>
                            </div>
                        </form>

                        <div class="items container-fluid d-flex justify-content-start">
                            <div class="items container-fluid d-flex justify-content-start">
                            <h5>Items:</h5>
                        </div>
                        <div class="container-fluid d-flex justify-content-center">
                            <h5>Weight:</h5>
                        </div>
                        </div>

                        <ul class="d-flex flex-column todo-list">
                            <% for(let i = 0; i < groceryMeatItem.length; i++) { %>
                                <li class='groceryMeatList'>
                                <% if (groceryMeatItem[i].completed === true) {%>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input class="checkbox" type="checkbox" checked>
                                        <i class="input-helper input-completed" data-id="<%= groceryMeatItem[i]._id %>"></i></label></div>
                                    <div class="container  d-flex justify-content-start"><span class="completed "><%= groceryMeatItem[i].list %></span></div>
                                    <div class="container d-flex justify-content-center"><span class="quantityItems"><%= groceryMeatItem[i].quantity %></span><span class="quantityItems"><%= groceryMeatItem[i].size %></span></div>
                                    <% }else{ %>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input class="checkbox" type="checkbox">
                                        <i class="input-helper input-incompleted" data-id="<%= groceryMeatItem[i]._id %>"></i></label></div>
                                    <div class="container  d-flex justify-content-start"><span><%= groceryMeatItem[i].list %></span></div>
                                    <div class="container d-flex justify-content-center"><span class="quantityItems"><%= groceryMeatItem[i].quantity %></span><span class="quantityItems"><%= groceryMeatItem[i].size %></span></div>
                                    <% } %>
                                <i class="deleteMeats remove mdi mdi-close-circle-outline" data-id="<%= groceryMeatItem[i]._id %>" ></i>
                                </li>
                                <% } %>
                        </ul>
                        <h6>Remaining Items in this section: <span class="number"><%= meatsRemain %></span></h6>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>



<div class="container-fluid">
    <div class="padding row d-flex justify-content-center">
            <div class="col-md-4">
                <div class="card px-2">
                    <div class="card-body">
                        <h4 class="card-title">Bakery & Perpared Foods</h4>
                        <div class="list-wrapper">

                            <form action="/createGrains" method="POST">
                                <div class="add-items d-flex">
                                    <input type="text" class="form-control" placeholder="Grains:" name="groceryGrainList" required>
                                    <input type="number" class="form-control" placeholder="Quantity:" name="quantity" required>
                                    <select class="form-control" aria-label=".form-select-lg example" name="size">
                                        <option selected>Size</option>
                                        <option value="Bag">Bag</option>
                                        <option value="Box">Box</option>
                                        <option value="Can">Can</option>
                                        <option value="Carton">Carton</option>
                                        <option value="Each">Each</option>
                                        <option value="Jar">Jar</option>
                                        <option value="Pack">Pack</option>
                                    </select>
                                    <button class="add btn btn-light font-weight-bold todo-list-add-btn">Add</button>
                                </div>
                            </form>

                            <div class="items container-fluid d-flex justify-content-start">
                                <div class="items container-fluid d-flex justify-content-start">
                                <h5>Items:</h5>
                            </div>
                            <div class="container-fluid d-flex justify-content-center">
                                <h5>Quantity:</h5>
                            </div>
                            </div>

                            <ul class="d-flex flex-column todo-list">
                                <% for(let i = 0; i < groceryGrainItem.length; i++) { %>
                                    <li class='groceryGrainList'>
                                    <% if (groceryGrainItem[i].completed === true) {%>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                            <input class="checkbox" type="checkbox" checked>
                                            <i class="input-helper input-completed" data-id="<%= groceryGrainItem[i]._id %>"></i></label></div>
                                        <div class="container  d-flex justify-content-start"><span class="completed "><%= groceryGrainItem[i].list %></span></div>
                                        <div class="container d-flex justify-content-center"><span class="quantityItems"><%= groceryGrainItem[i].quantity %></span><span class="quantityItems"><%= groceryGrainItem[i].size %></span></div>
                                        <% }else{ %>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                            <input class="checkbox" type="checkbox">
                                            <i class="input-helper input-incompleted" data-id="<%= groceryGrainItem[i]._id %>"></i></label></div>
                                        <div class="container  d-flex justify-content-start"><span><%= groceryGrainItem[i].list %></span></div>
                                        <div class="container d-flex justify-content-center"><span class="quantityItems"><%= groceryGrainItem[i].quantity %></span><span class="quantityItems"><%= groceryGrainItem[i].size %></span></div>
                                        <% } %>
                                    <i class="deleteGrains remove mdi mdi-close-circle-outline" data-id="<%= groceryGrainItem[i]._id %>" ></i>
                                    </li>
                                    <% } %>
                            </ul>
                            <h6>Remaining Items in this section: <span class="number"><%= grainsRemain %></span></h6>
                        </div>
                    </div>
                </div>
            </div>
 



       
                <div class="col-md-4">
                    <div class="card px-2">
                        <div class="card-body">
                            <h4 class="card-title">Dairy & Frozen</h4>
                            <div class="list-wrapper">
    
                                <form action="/createFrozen" method="POST">
                                    <div class="add-items d-flex">
                                        <input type="text" class="form-control" placeholder="Dairy:" name="groceryFrozenList" required>
                                        <input type="number" class="form-control" placeholder="Quantity:" name="quantity" required>
                                        <select class="form-control" aria-label=".form-select-lg example" name="size">
                                            <option selected>Size</option>
                                            <option value="Bag">Bag</option>
                                            <option value="Box">Box</option>
                                            <option value="Can">Can</option>
                                            <option value="Carton">Carton</option>
                                            <option value="Each">Each</option>
                                            <option value="Jar">Jar</option>
                                            <option value="Pack">Pack</option>
                                        </select>
                                        <button class="add btn btn-light font-weight-bold todo-list-add-btn">Add</button>
                                    </div>
                                </form>
    
                                <div class="items container-fluid d-flex justify-content-start">
                                    <div class="items container-fluid d-flex justify-content-start">
                                    <h5>Items:</h5>
                                </div>
                                <div class="container-fluid d-flex justify-content-center">
                                    <h5>Quantity:</h5>
                                </div>
                                </div>
    
                                <ul class="d-flex flex-column todo-list">
                                    <% for(let i = 0; i < groceryFrozenItem.length; i++) { %>
                                        <li class='groceryFrozenList'>
                                        <% if (groceryFrozenItem[i].completed === true) {%>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                <input class="checkbox" type="checkbox" checked>
                                                <i class="input-helper input-completed" data-id="<%= groceryFrozenItem[i]._id %>"></i></label></div>
                                            <div class="container  d-flex justify-content-start"><span class="completed "><%= groceryFrozenItem[i].list %></span></div>
                                            <div class="container d-flex justify-content-center"><span class="quantityItems"><%= groceryFrozenItem[i].quantity %></span><span class="quantityItems"><%= groceryFrozenItem[i].size %></span></div>
                                            <% }else{ %>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                <input class="checkbox" type="checkbox">
                                                <i class="input-helper input-incompleted" data-id="<%= groceryFrozenItem[i]._id %>"></i></label></div>
                                            <div class="container  d-flex justify-content-start"><span><%= groceryFrozenItem[i].list %></span></div>
                                            <div class="container d-flex justify-content-center"><span class="quantityItems"><%= groceryFrozenItem[i].quantity %></span><span class="quantityItems"><%= groceryFrozenItem[i].size %></span></div>
                                            <% } %>
                                        <i class="deleteFrozen remove mdi mdi-close-circle-outline" data-id="<%= groceryFrozenItem[i]._id %>" ></i>
                                        </li>
                                        <% } %>
                                </ul>
                                <h6>Remaining Items in this section: <span class="number"><%= frozenRemain %></span></h6>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    </div>





    <div class="container-fluid">
        <div class="padding row d-flex justify-content-center">
                <div class="col-md-4">
                    <div class="card px-2">
                        <div class="card-body">
                            <h4 class="card-title">Wine, Beer & Snacks</h4>
                            <div class="list-wrapper">
    
                                <form action="/createSnacks" method="POST">
                                    <div class="add-items d-flex">
                                        <input type="text" class="form-control" placeholder="Produce:" name="grocerySnackList" required>
                                        <input type="number" class="form-control" placeholder="Quantity:" name="quantity" required>
                                        <select class="form-control" aria-label=".form-select-lg example" name="size">
                                            <option selected>Size</option>
                                            <option value="Bag">Bag</option>
                                            <option value="Bottle">Bottle</option>
                                            <option value="Box">Box</option>
                                            <option value="Can">Can</option>
                                            <option value="Carton">Carton</option>
                                            <option value="Each">Each</option>
                                            <option value="Jar">Jar</option>
                                            <option value="Pack">Pack</option>
                                        </select>
                                        <button class="add btn btn-light font-weight-bold todo-list-add-btn">Add</button>
                                    </div>
                                </form>
    
                                <div class="items container-fluid d-flex justify-content-start">
                                    <div class="items container-fluid d-flex justify-content-start">
                                    <h5>Items:</h5>
                                </div>
                                <div class="container-fluid d-flex justify-content-center">
                                    <h5>Quantity:</h5>
                                </div>
                                </div>
    
                                <ul class="d-flex flex-column todo-list">
                                    <% for(let i = 0; i < grocerySnackItem.length; i++) { %>
                                        <li class='grocerySnackList'>
                                        <% if (grocerySnackItem[i].completed === true) {%>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                <input class="checkbox" type="checkbox" checked>
                                                <i class="input-helper input-completed" data-id="<%= grocerySnackItem[i]._id %>"></i></label></div>
                                            <div class="container  d-flex justify-content-start"><span class="completed "><%= grocerySnackItem[i].list %></span></div>
                                            <div class="container d-flex justify-content-center"><span class="quantityItems"><%= grocerySnackItem[i].quantity %></span><span class="quantityItems"><%= grocerySnackItem[i].size %></span></div>
                                            <% }else{ %>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                <input class="checkbox" type="checkbox">
                                                <i class="input-helper input-incompleted" data-id="<%= grocerySnackItem[i]._id %>"></i></label></div>
                                            <div class="container  d-flex justify-content-start"><span><%= grocerySnackItem[i].list %></span></div>
                                            <div class="container d-flex justify-content-center"><span class="quantityItems"><%= grocerySnackItem[i].quantity %></span><span class="quantityItems"><%= grocerySnackItem[i].size %></span></div>
                                            <% } %>
                                        <i class="deleteSnacks remove mdi mdi-close-circle-outline" data-id="<%= grocerySnackItem[i]._id %>" ></i>
                                        </li>
                                        <% } %>
                                </ul>
                                <h6>Remaining Items in this section: <span class="number"><%= snacksRemain %></span></h6>
                            </div>
                        </div>
                    </div>
                </div>
     
    
    
    
           
                    <div class="col-md-4">
                        <div class="card px-2">
                            <div class="card-body">
                                <h4 class="card-title">Personal & Home Care</h4>
                                <div class="list-wrapper">
        
                                    <form action="/createPersonal" method="POST">
                                        <div class="add-items d-flex">
                                            <input type="text" class="form-control" placeholder="Supplies:" name="groceryPersonalList" required>
                                            <input type="number" class="form-control" placeholder="Quantity:" name="quantity" required>
                                            <select class="form-control" aria-label=".form-select-lg example" name="size">
                                                <option selected>Size</option>
                                                <option value="Bag">Bag</option>
                                                <option value="Box">Box</option>
                                                <option value="Can">Can</option>
                                                <option value="Carton">Carton</option>
                                                <option value="Each">Each</option>
                                                <option value="Jar">Jar</option>
                                                <option value="Pack">Pack</option>
                                            </select>
                                            <button class="add btn btn-light font-weight-bold todo-list-add-btn">Add</button>
                                        </div>
                                    </form>
        
                                    <div class="items container-fluid d-flex justify-content-start">
                                        <div class="items container-fluid d-flex justify-content-start">
                                        <h5>Items:</h5>
                                    </div>
                                    <div class="container-fluid d-flex justify-content-center">
                                        <h5>Quantity:</h5>
                                    </div>
                                    </div>
        
                                    <ul class="d-flex flex-column todo-list">
                                        <% for(let i = 0; i < groceryPersonalItem.length; i++) { %>
                                            <li class='groceryPersonalList'>
                                            <% if (groceryPersonalItem[i].completed === true) {%>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                    <input class="checkbox" type="checkbox" checked>
                                                    <i class="input-helper input-completed" data-id="<%= groceryPersonalItem[i]._id %>"></i></label></div>
                                                <div class="container  d-flex justify-content-start"><span class="completed "><%= groceryPersonalItem[i].list %></span></div>
                                                <div class="container d-flex justify-content-center"><span class="quantityItems"><%= groceryPersonalItem[i].quantity %></span><span class="quantityItems"><%= groceryPersonalItem[i].size %></span></div>
                                                <% }else{ %>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                    <input class="checkbox" type="checkbox">
                                                    <i class="input-helper input-incompleted" data-id="<%= groceryPersonalItem[i]._id %>"></i></label></div>
                                                <div class="container  d-flex justify-content-start"><span><%= groceryPersonalItem[i].list %></span></div>
                                                <div class="container d-flex justify-content-center"><span class="quantityItems"><%= groceryPersonalItem[i].quantity %></span><span class="quantityItems"><%= groceryPersonalItem[i].size %></span></div>
                                                <% } %>
                                            <i class="deletePersonal remove mdi mdi-close-circle-outline" data-id="<%= groceryPersonalItem[i]._id %>" ></i>
                                            </li>
                                            <% } %>
                                    </ul>
                                    <h6>Remaining Items in this section: <span class="number"><%= personalRemain %></span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        </div>



    
   <script src="main.js"></script>
    
</body>
</html>